In [4]:
# For a given list that contains numbers from 1 to 20. Using a for loop, create a new list
# that contains the square of each element from the given list

for i in range(1,21):
    print("the cube of the no is ",i**2)

the cube of the no is  1
the cube of the no is  4
the cube of the no is  9
the cube of the no is  16
the cube of the no is  25
the cube of the no is  36
the cube of the no is  49
the cube of the no is  64
the cube of the no is  81
the cube of the no is  100
the cube of the no is  121
the cube of the no is  144
the cube of the no is  169
the cube of the no is  196
the cube of the no is  225
the cube of the no is  256
the cube of the no is  289
the cube of the no is  324
the cube of the no is  361
the cube of the no is  400

In [17]:
# For a given dictionary that contains numbers from 1-10 as keys, and their square as
# values, display each key-value pair using a for loop
dic={}
#  key and value where key is i and value = i**2 dic[i]=i**2
for i in range(1,21):
    dic[i]=i**2

In [19]:
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [25]:
# . A tuple contains even numbers from 1-20. Display all the items in a tuple using a for loop.

l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)
print(tuple(l))
#         print("t is even no ",tuple(i))
#         print(tuple(i))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [30]:
# A set contains odd numbers from 1-20. Display the items in a set using a for loop.
l1=[]
for i in range (1,21):
    if i%2==1:
        l1.append(i)
print(l1)
print(set(l1))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [39]:
# For a given sequence of nested lists, display the elements using a for loop.
a = [[1,2],[3,4],[5,6],[7,8]]
# l2=[]
# for i in a:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [40]:
# For a given sequence of nested dictionaries, display all the values in the dictionary.
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

print(a[1])
print(a[2])
print(a[2])

{'one': 1}
{'two': 2}
{'two': 2}

In [1]:
#  For a given list of natural numbers from 1-100, using the while loop, print only the numbers that are divisible by 2.

# for n in range(1,101):
#     if n%2==0:
#         while n<=100:
#             print(n)
#             n=n+1

In [4]:
# For a given list of natural numbers from 1-100, using the while loop, print only the numbers that are divisible by 2.



i = 0
while i < 101:
    i += 1
    if i % 2 :
        continue
    print(i,end = "   ")

2   4   6   8   10   12   14   16   18   20   22   24   26   28   30   32   34   36   38   40   42   44   46   48   50   52   54   56   58   60   62   64   66   68   70   72   74   76   78   80   82   84   86   88   90   92   94   96   98   100

In [ ]:
#  Print the first 5 multiples of 3 using a while loop.
n=0
while n<16:
    n=n+1
    if n % 3:
    print(n)

In [ ]:
'''For a given dictionary that contains the first 10 natural numbers as keys, and their cubesas values, 
display the key value pairs using a while loop.'''
dic={}
for i in range (1,11):
    dic[i]=i**3
    prinnt(dic[i])

In [ ]:
# write a program using a while loop demonstrating the usage of break, continue and pass 
# statements along with if else statements.

In [ ]:
# write a program using a while loop demonstrating the usage of break, continue and pass 
# statements along with if else statements.